.todo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px dashed #353535;

  &__card {
    margin: 10px 10px;
    width: 41%;

    @media (min-width: 768px) {
      width: 22%;
    }

    @media (min-width: 1200px) {
      width: 22.5%;
    }
  }
}
