.button {
  padding: 10px 30px;
  border-radius: 5px;
  background: #519945;

  &__font {
    &--button {
      font-family: $font-default;
      color: #ffffff;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px;
    }
  }
}
