.button {
  padding: 10px 30px;
  border-radius: 5px;

  &--primary {
    background: #519945;

    &:disabled {
      opacity: 0.6;
    }

    & .button__font--button {
      color: #ffffff;
    }
  }

  &--secondary {
    background: #e1e1e1;

    & .button__font--button {
      color: #000000;
    }
  }

  &__font {
    &--button {
      font-family: $font-default;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px;
    }
  }
}
