.todo-card {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border-radius: 5px;
  background: #C3C3C3;
  overflow: hidden;

  &--completed {
    background: #519945;

    & .todo-card__header {
      background: green;
    }
  }

  &__star {
    width: 15px;
    stroke: #FFD700;
    stroke-width: 4px;

    &--filled {
      fill: #FFD700;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background: #A5A5A5;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  &__font {
    &--title {
      text-align: center;
      font-weight: 700;
    }
  }
}
