.inner-page {
  &__container {
    padding: 20px 40px;
    max-width: 900px;
    margin: 0 auto;
  }

  &__add-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 20px;

    @media (min-width: 768px) {
      align-items: flex-end;
      flex-direction: row;
      margin: 0 0 20px;
    }
  }

  &__form-input {
    display: flex;
    align-items: center;
    margin-left: -35px;

    @media (min-width: 768px) {
      align-items: stretch;
      flex-direction: column;
      margin-left: 0;
    }

    &:nth-child(2) {
      @media (min-width: 768px) {
        flex-grow: 1;
      }
    }
  }

  &__input {
    margin-left: 5px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;

    @media (min-width: 768px) {
      margin: 5px 20px 0 0;
      max-width: none;
    }

    &--id {
      width: 50px;
    }
  }

  &__button {
   &--add {
     display: block;
     width: 150px;
     margin: 0 auto 20px;

     @media (min-width: 768px) {
       margin: 0 0 20px;
     }
   }
   &--submit {
     margin-bottom: 10px;
     display: block;
     width: 100px;

     @media (min-width: 768px) {
       margin-bottom: 0;
       margin-right: 20px;
     }
   }
  }
}
