.inner-page {
  &__container {
    padding: 20px 40px;
    max-width: 900px;
    margin: 0 auto;
  }

  &__add-form {
    display: flex;
    align-items: flex-end;
    margin: 0 auto 20px;

    @media (min-width: 768px) {
      margin: 0 0 20px;
    }
  }

  &__form-input {
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      flex-grow: 1;
    }
  }

  &__input {
    margin-top: 5px;
    padding: 10px;
    margin-right: 20px;

    &--id {
      width: 50px;
    }
  }

  &__button {
   &--add {
     display: block;
     width: 150px;
     margin: 0 auto 20px;

     @media (min-width: 768px) {
       margin: 0 0 20px;
     }
   }
   &--submit {
     margin-right: 20px;
     display: block;
     width: 100px;
     //padding: 3px 0;
   }
  }
}
